<section class="about-us-section">
    <div class="section-header">
        <div class="title lato-bold">
            <i class="fa-solid fa-xmark cross" (click)="onCrossClick()"></i>
            <p>A B O U T - U S</p>
        </div>
    </div>
    <div class="description-section">
        <div class="logo-section">
            <div class="logo"></div>
        </div>
        <div class="message-section">
            <div class="message lato-regular">
                <p>
                    Welcome to Kick-Spot, your ultimate destination for all things futsal in the Kathmandu Valley! Whether you're a casual player looking for a quick game, a serious team preparing for a tournament, or a fan eager to stay updated on the latest competitions, Kick-Spot has got you covered. <br><br>
                    At Kick-Spot, we are passionate about futsal and committed to providing a seamless and enjoyable experience for all players and fans. Our user-friendly interface, real-time updates, and comprehensive information ensure that you can focus on what you love:playing and enjoying the beautiful game of futsal. <br><br>
                    Join our growing community of futsal enthusiasts and make Kick-Spot your go-to platform for all your futsal needs in the Kathmandu Valley. Let's kick, score, and celebrate together!
                </p>
            </div>
        </div>
    </div>
    <div class="title lato-bold">
        <p>What We Offer</p>
    </div>
    <div class="offer-section">
        <div class="offer">
            <div class="offer-img" id="img-1"></div>
            <p class="offer-title">Futsal Booking</p>
            <div class="para lato-regular">
                <p>Discover a wide array of available futsals throughout the Kathmandu Valley. Our platform provides comprehensive details about each futsal, including location, facilities, pricing, and availability. Booking a futsal has never been easier: simply choose your preferred spot, select your time slot, and reserve it with just a few clicks.
                </p>
            </div>
        </div>
        <div class="offer">
            <div class="offer-img" id="img-2"></div>
                <p class="offer-title">Tournament Updates</p>
                <div class="para lato-regular">
                    <p>Stay in the loop with all the ongoing and upcoming futsal tournaments in the valley. Kick-Spot features a dedicated section for tournaments, providing you with essential information, schedules, and results. Never miss out on the action again!
                    </p>
                </div>
        </div>
        <div class="offer">
            <div class="offer-img" id="img-3"></div>
            <p class="offer-title">Team Registration</p>
            <div class="para lato-regular">
                <p>Ready to take your team to the next level? Register your team for various tournaments directly through our website. With Kick-Spot, you can seamlessly manage your team's participation and stay updated on all tournament-related news.
            </div>
        </div>
    </div>
</section>