<section class="landing-section">
    <div class="search-section">
        <div class="search-bar">
            <i class="fa-solid fa-location-dot icons"></i>
            <input type="text" placeholder="Search a location" class="search" #title>
            <div class="search-btn" (click)="onSearch(title.value)">
                <i class="fa-brands fa-searchengin icons"></i>
            </div>
        </div>
        <div class="landing-para">
            <p class="lato-regular">We make venue booking simple</p>
        </div>
    </div>
</section>
<section class="ground-section">
    <app-ground [slicedList]="filteredList"></app-ground>
</section>