<section class="landing-section">
    <div class="search-section">
        <div class="search-bar">
            <i class="fa-solid fa-location-dot icons"></i>
            <input type="text" placeholder="Search a location" class="search">
            <div class="search-btn">
                <i class="fa-brands fa-searchengin icons"></i>
            </div>
        </div>
        <div class="landing-para">
            <p class="lato-regular">We make venue booking simple</p>
        </div>
    </div>
</section>
<section class="ground-section">
    <app-ground></app-ground>
</section>