.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
}
.ground-section{
    margin-top: 10px;
}
.section-header{
    padding-left: 40px;
    font-size: 25px;
}
p{
    margin: 0px;
}
/* Ground grid */
.ground-div{
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    margin-top: 30px;
    justify-content: space-between;
    padding-left: 40px;
}
.ground{
    /* background-color: white; */
    height: 250px;
    width: 300px;
    padding: 12px;
    border-radius: 12px;
    transition: transform 0.3s ease-in;
    position: relative;
}
.ground:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
}
/* Ground details */
.ground:hover .view{
    background-color: #51AD19;
}
.ground-image{
    height: 150px;
    width: 100%;
    background-image: url('assets/ground1.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.ground-title{
    margin-top: 10px;
}
.location{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
}
.icons{
    opacity: 0.7;
    margin-right: 10px;
}
.ground-details{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.view{
    height: 45%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
