<section class="ground-section" id="ground">
  <div class="section-header lato-bold">
    <p>Popular Grounds</p>
  </div>
  <div class="ground-div">
    @for (ground of slicedList; track ground.id) {
    <div class="ground">
      <div
        [ngClass]="{ 'ground-image': true }"
        [ngStyle]="{'background-image': 'url(' + ground.path + ')'}"
      >
    </div>
      <div class="ground-title lato-bold">
        <p>{{ground.title}}</p>
      </div>
      <div class="ground-details">
        <div class="location">
            <i class="fa-solid fa-location-dot icons"></i>
            <p>{{ground.road}}, {{ground.city}}</p>
          </div>
            <a [routerLink]="['/futsal',ground.id]" class="view">
            View
            </a>
      </div>
    </div>
    }@empty {
      <div>
        No Futsal Available
      </div>
    }
  </div>
</section>
