<section class="ground-section">
    <div class="section-header lato-bold">
        <p>Popular Grounds</p>
    </div>
    <div class="ground-div">
        <div class="ground">
            <div class="ground-image"></div>
            <div class="ground-title lato-bold">
                Shankhamul Futsal
            </div>
            <div class="ground-details">
                <div class="location">
                    <i class="fa-solid fa-location-dot icons"></i>
                    <p>Shankhamul, Kathmandu</p>
                </div>
                <div class="view">
                    <a>View</a>
                </div>
            </div>
        </div>
        <div class="ground">
            <h3>Ground Details 2</h3>
        </div>
        <div class="ground">
            <h3>Ground Details 3</h3>
        </div>
        <div class="ground">
            <h3>Ground Details 4</h3>
        </div>
        <div class="ground">
            <h3>Ground Details 4</h3>
        </div>
        <div class="ground">
            <h3>Ground Details 4</h3>
        </div>
    </div>
</section>