<section class="home-section">
    <section class="web-header">
        <div class="header-para">
            <p>Search for the best futsal available in Kathmandu Valley.</p>
          </div>
    </section>
    <section class="content">
    <section class="nav-section">
        <div class="navbar">
            <ul class="nav-ul">
                <div class="logo">
                    <a href=""><li class="logo">Kick Spot</li></a>
                </div>
                <div class="nav-items">
                    <li class="nav-item" (click)="onHomeClick()">Home</li>
                    <li class="nav-item">About Us</li>
                    <li class="nav-item" (click)="goToSection('tournament')">Tournaments</li>
                    @if(isLoggedIn) {
                        <div class="dropdown">
                            <div class="loggedIn">
                            <i class="fa-solid fa-circle-user"></i>
                            <li class="nav-item">{{username}}</li>
                            </div>
                             <div class="dropdown-content lato-bold">
                              <a [routerLink]="['/accounts']">My Account</a>
                              <a href="#" (click)="onLogOut()">Log Out</a>
                            </div>
                        </div>
                    }@else {
                        <div class="login" (click)="onLoginClick()">
                            <i class="fa-regular fa-circle-user"></i>
                            <li class="nav-item">Login</li>
                        </div>
                    }
                      
                </div>
            </ul>
        </div>
    </section>
    <app-landing></app-landing>
    <app-tournament></app-tournament>
</section>