<section class="account-section">
    <div class="section-header">
        <div class="title">
            <i class="fa-solid fa-xmark cross" (click)="onCrossClick()"></i>
            <p>Welcome {{username}}</p>
        </div>
    </div>
    <div class="manage-section">
        <div class="account-header lato-bold">
            <p>Y O U R - A C C O U N T</p>
            <div class="edit-account">
                <p>Edit</p>
                <i class="fa-solid fa-pen"></i>
            </div>
        </div>
        <app-booking-list></app-booking-list>
    </div>
</section>